html, body, #container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 45px;
    z-index: 4;
}

article {
    width: 100%;
    height: max-content;
}

.wrapper {
    min-height: 100%;
    margin: 0 auto -2em;
}

footer {
    width: 100%;
    height: 2em;
    background-color: #ECEFF1;
}

.push {
    height: 2em;
}

.right-align {
    position: absolute;
    right: 20px;
    top: 3px;
}

.center-align {
    margin-left: auto;
    margin-right: auto;
}

.light-black {
    background-color: #282828;
}

.middle-blue {
    background-color: #039BE5;
}

.full-parent {
    width: 100%;
    height: 100%;
}

.parent-third {
    position: relative;
    height: 100%;
    width: 33%;
}

td {
    text-align: center;
    vertical-align: middle;
}

.without-decoration {
    text-decoration: none;
}

.white {
    color: white;
}

.light-grey {
    color: #E0E0E0;
}

.dark-grey {
    color: #424242;
}

.left-align {
    position: absolute;
    left: 20px;
    top: 10px;
}