/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 10, 2015, 3:43:50 AM
    Author     : Eschenko_DA
*/

.friends-column {
    width:35%; 
    vertical-align: top;
}

.friends-info {
    font-weight: bold;
}

.message-column {
    vertical-align: top;
}

.friends-avatatar-column-width {
    width: 35%;
}

.friends-info-column-width {
    width: 65%;
}

.friend-avatar-message-column {
    width: 20%;
    background-color: inherit;
}

.friend-message-column {
    width: 80%;
    background-color: inherit;
}
