/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 7, 2014, 8:40:03 PM
    Author     : yesch_000
*/

.rating_img { 
/*    background-image: url(../images/comics/Detective_Comics_Vol_2_1.jpg);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat; 
    background-position: left top; */
    background-color: red;
    color: blue;
}

.comics_page_link {
    color: red;
}